<div class="card shadow">
    <img src="@Recipe.Photo" class="card-img-top" alt="@Recipe.Name">
    <div class="card-body">
        <h5 class="card-title">@Recipe.Name</h5>
        <h6 class="card-subtitle">@Recipe.Category?.Name</h6>
        <ul class="list-group list-group-flush my-2">
            <li class="list-group-item"><span class="oi oi-clock me-1"></span> @Recipe.TimeFormatter</li>
            <li class="list-group-item"><span class="oi oi-star me-1"></span> @Recipe.Difficulty</li>
        </ul>
        <button class="btn btn-primary" @onclick="(async () => await OnSelected.InvokeAsync(Recipe))">
            <i class="fa-regular fa-eye"></i>
        </button>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public GetRecipeHeaderDto Recipe { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback<GetRecipeHeaderDto> OnSelected { get; set; } = default!;
}
